*{
	font-family: 'Roboto', sans-serif;
}

body{
	margin: 0%;
	padding: 0%;
	background-color:rgb(212, 211, 211)  ;
}

nav{
	display: flex;
	justify-content: space-between;
	background-color: rgb(1, 1, 21);
	color: white ;
}

.logo{
	margin-left: 13px;
	font-size: 20px;
}

nav ul{
	display: flex;
	align-items: center;
	margin-right: 13px;

}

ul li{
	list-style: none;

}

ul li a{
	text-decoration: none;
	margin-inline: 20px;
	font-size: 20px;
	color: white;
}

ul li a:hover, ul li a.active{
	color: rgb(3, 212, 212);
	font-weight: 600;
}

.icon{
    display: none;
    align-items: center;
    font-size: 30px;
    margin-right: 12px;
}

@media only screen and (max-width:788px){
	nav ul{
		display: none;
	}

	.icon{
        display: flex;
        cursor: pointer;
    }
}